.answer-option {
  /* background-color: aquamarine; */
  min-width: 4rem;
  height: 1.3rem;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-option {
  background-color: #d6dbf5;
  border: none;
}
