.answer-option,
.selected-option,
.correct-choice,
.correct-answer,
.wrong-choice,
.neuter-choice {
  min-width: 4rem;
  height: 1.3rem;
  border-radius: 8px;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-option {
  border: 1px solid #4d5b9e;
}

.selected-option {
  background-color: #d6dbf5;
  border: none;
}

.correct-choice,
.correct-answer {
  border: none;
  background-color: #94d7a2;
}

.wrong-choice {
  border: none;
  color: #293264;
  background-color: #f8bcbc;
  opacity: 0.5;
}

.neuter-choice {
  border: 1px solid #4d5b9e;
  color: #293264;
  opacity: 0.5;
}
