.game-page {
  border: 1px solid brown;
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-page .upper-rigt-img {
  position: absolute;
  /* border: 1px solid red; */
  width: 7.25rem;
  top: 0;
  right: 0;
}

.game-page .lower-left-img {
  position: fixed;
  /* border: 1px solid red; */
  width: 4rem;
  bottom: 0;
  left: 0;
}

.quizes-container {
  /* border: 1px solid darkorange; */
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control-panel {
  border: 1px solid green;
  width: 60%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.check-answers-btn {
  width: 7.5rem;
  height: 2.18rem;
  border-radius: 10px;
  background-color: #4d5b9e;
  color: #f5f7fb;
}

@media screen and (min-width: 850px) {
  .game-page {
    height: 100vh;
  }
}
