.game-page {
  /* border: 1px solid brown; */
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-page .upper-rigt-img {
  position: absolute;
  /* border: 1px solid red; */
  width: 7.25rem;
  top: 0;
  right: 0;
}

.game-page .lower-left-img {
  position: fixed;
  /* border: 1px solid red; */
  width: 4rem;
  bottom: 0;
  left: 0;
}

.all-quizes-container {
  /* border: 1px solid darkorange; */
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.loading-msg {
  font-size: 2rem;
}

.control-panel {
  /* border: 1px solid green; */
  width: 70%;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.check-answers-btn {
  width: 7.5rem;
  height: 2.18rem;
  border-radius: 10px;
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-size: 0.75rem;
}

.play-again-btn {
  width: 6.5rem;
  height: 1.87rem;
  border-radius: 10px;
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-size: 0.75rem;
}

.end-msg {
  font-size: 0.9rem;
  font-weight: bold;
  /* margin-bottom: 0.75rem; */
}

@media screen and (min-width: 650px) {
  .control-panel {
    /* gap: 1.5rem; */
  }
  .end-msg {
    /* margin-bottom: 0; */
  }
}

@media screen and (min-width: 850px) {
  .game-page {
    /* height: 100vh; */
  }

  .all-quizes-container {
    /* border: 1px solid darkorange; */
    margin-top: 1.5rem;
  }

  .control-panel {
    /* border: 1px solid green; */
    margin-top: 2rem;
  }

  .check-answers-btn {
    font-size: 1rem;
    width: 9.5rem;
    height: 2.8rem;
  }

  .play-again-btn {
    font-size: 1rem;
    width: 8.2rem;
    height: 2.5rem;
  }

  .end-msg {
    margin-bottom: 0;
    font-size: 1.3rem;
  }
}
